/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	font-family: gotham htf;
}

.tweet-item {
	width: 300px;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	overflow: hidden;
	height: 100px;
	color: black;
}

a, a:hover {
	text-decoration: none;
}

.user-img {
	float: left;
	margin-right: 10px;
}

.username {
	font-weight: bold;
}

.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}